
<nav class="navbar-top">
  <div class="logo-dashboard-container">
    <div class="logo-container">
      <img src="path/to/logo.png" alt="Logo" class="logo" />
    </div>
    <li>
      <a routerLink="/dashboard"><i class="fa fa-home"></i> Dashboard</a>
    </li>
  </div>
  <div class="user-actions">
    <i class="fa fa-user-circle user-icon" aria-hidden="true"></i>
    <button (click)="logout()">Cerrar sesión</button>
  </div>
</nav>

<!-- Navbar lateral -->
<nav class="navbar-side">
  <ul class="navbar-menu">
    <li>
      <a (click)="toggleSubMenu('admin')"><i class="fa fa-cogs"></i> Administrador</a>
      <ul *ngIf="showSubMenu['admin']">
        <li><a (click)="toggleUsuariosPanel()"><i class="fa fa-users"></i> Administrar Usuarios</a></li>
        <li><a (click)="toggleRolesPanel()"><i class="fa fa-users-cog"></i> Gestionar Roles</a></li>
      </ul>
    </li>
    <li>
      <a (click)="toggleSubMenu('registros')"><i class="fa fa-book"></i> Registros</a>
      <ul *ngIf="showSubMenu['registros']">
        <li><a (click)="toggleEspecialidadesPanel()"><i class="fa fa-stethoscope"></i> Gestionar Especialidades</a></li>
      </ul>
    </li>
    <li><a routerLink="/configuracion"><i class="fa fa-wrench"></i> Configuración</a></li>
    <li><a routerLink="/atenciones-medicas"><i class="fa fa-stethoscope"></i> Atenciones Médicas</a></li>
  </ul>
</nav>

<!-- Panel de contenido -->
<div class="dashboard-container">
  <div class="content">
    <div *ngIf="showUsuariosPanel" class="usuarios-panel">
      <app-manage-usuarios></app-manage-usuarios>
    </div>
    <div *ngIf="showRolesPanel" class="roles-panel">
      <app-manage-roles></app-manage-roles>
    </div>
    <div *ngIf="showEspecialidadesPanel" class="especialidades-panel">
      <app-manage-especialidades></app-manage-especialidades>
    </div>
  </div>
</div>