<nav class="navbar-top">
  <div class="logo-dashboard-container">
    <div class="logo-container">
      <img src="" alt="Logo" class="logo" />
    </div>
    <li>
      <a routerLink="/dashboard"><i class="fa fa-home"></i> Dashboard</a>
    </li>
  </div>
  <div class="user-actions">
    <img src="../../assets/images/modern_user_profile_logo.jpg" alt="User" class="user-avatar" />
    <span class="user-name" (click)="toggleUserMenu()">Hello {{ userName }} 👋  ▼</span>
    <ul class="user-menu" *ngIf="isUserMenuOpen">
      <li (click)="goToProfile()">Perfil</li>
      <li (click)="logout()">Cerrar sesión</li>
    </ul>
  </div>
</nav>

<!-- Navbar lateral    imagen para el logo de la pagina ../../assets/images/electronic_medical_records_logo.jpg-->
<nav class="navbar-side">
  <ul class="navbar-menu">
    <li>
      <a (click)="toggleSubMenu('admin')"><i class="fa fa-cogs"></i> Administrador</a>
      <ul *ngIf="showSubMenu['admin']">
        <li><a (click)="toggleUsuariosPanel()"><i class="fa fa-users"></i> Administrar Usuarios</a></li>
        <li><a (click)="toggleRolesPanel()"><i class="fa fa-users-cog"></i> Gestionar Roles</a></li>
        <li><a (click)="togglePermissionsPanel()"><i class="fa fa-key"></i> Gestionar Permisos</a></li> <!-- Nuevo submenú -->
      </ul>
    </li>
    <li>
      <a (click)="toggleSubMenu('registros')"><i class="fa fa-book"></i> Registros</a>
      <ul *ngIf="showSubMenu['registros']">
        <li><a (click)="toggleEspecialidadesPanel()"><i class="fa fa-stethoscope"></i> Gestionar Especialidades</a></li>
      </ul>
    </li>
    <li>
      <a (click)="toggleSubMenu('personal')"><i class="fa fa-briefcase"></i> Personal</a>
      <ul *ngIf="showSubMenu['personal']">
        <li><a (click)="toggleEmpleadosPanel()"><i class="fa fa-user-md"></i> Gestionar Empleados</a></li>
      </ul>
    </li>
    <li><a routerLink="/configuracion"><i class="fa fa-wrench"></i> Configuración</a></li>
    <li><a routerLink="/atenciones-medicas"><i class="fa fa-stethoscope"></i> Atenciones Médicas</a></li>
  </ul>
</nav>

<!-- Panel de contenido -->
<div class="dashboard-container">
  <div class="content">
    <div *ngIf="showUsuariosPanel" class="usuarios-panel">
      <app-manage-usuarios></app-manage-usuarios>
    </div>
    <div *ngIf="showRolesPanel" class="roles-panel">
      <app-manage-roles></app-manage-roles>
    </div>
    <div *ngIf="showEspecialidadesPanel" class="especialidades-panel">
      <app-manage-especialidades></app-manage-especialidades>
    </div>
    <div *ngIf="showEmpleadosPanel" class="empleados-panel">
      <app-manage-empleados></app-manage-empleados>
    </div>
    <div *ngIf="showProfilePanel" class="perfil-panel">
      <app-perfil></app-perfil>
    </div>
    <div *ngIf="showPermissionsPanel" class="permissions-panel">
      <app-manage-permissions></app-manage-permissions> <!-- Panel para permisos -->
    </div>
  </div>
</div>