body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.home-container {
  text-align: center;
  padding: 2rem;
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; /* Ocupar toda la pantalla */
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Asegura que ocupe el ancho completo */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Cambia el color del texto si es necesario */
}

/* Fondo opaco para el contenido */
.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semi-transparente */
  z-index: -1;
}

h1 {
  color: #fff; /* Blanco */
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
  color: #ddd;
  margin-bottom: 2rem;
}

button {
  background-color: #007bff;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:first-of-type {
  background-color: #28a745; /* Cambia el color del botón "Iniciar Sesión" */
}

button:first-of-type:hover {
  background-color: #218838; /* Cambia el color del botón "Iniciar Sesión" al pasar el cursor */
}